.big-img{
  background-image: url("https://www.deere.com/assets/images/common/home-page/March-2020-Hero-1366x347.jpg");
  contain: content !important;
}

.big-font{
  font-size: 2rem;
}
.md-img{
background-image: url("https://www.deere.com/assets/images/common/home-page/autotrac-300-featured-image.jpg");
}


img{
  size: cover;
}

.bg-muted{
  background-color: #f2f2f2;
}